.App {
    padding: 30px;
    transition: .2s;
}
.cartActive {
    transform: translateX(-500px);
    transition: .2s;

}
.cartDeActive {
    transform: translateX(0px);
    transition: .2s;

}
input,
select{
    &:focus {
        outline: none;
    }
}